[submodule "deps/dpf"]
	path = deps/dpf
	url = https://github.com/distrho/DPF.git
[submodule "deps/corrosion"]
	path = deps/corrosion
	url = https://github.com/corrosion-rs/corrosion
[submodule "deps/choc"]
	path = deps/choc
	url = https://github.com/Tracktion/choc
[submodule "deps/whereami"]
	path = deps/whereami
	url = https://github.com/gpakosz/whereami
